@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css ou App.css */
body {
    background-color: #f4f3f3; /* Couleur crème */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Optionnel pour un rendu uniforme */
  }
  
  /* TripDatePicker.css */

/* Appliquer une couleur grise pour la période sélectionnée */
.selected-range {
    background-color: #c0c0c0 !important; /* Couleur grise */
    color: white !important;
  }
  
  /* Style du bouton "Réserver maintenant" déjà défini dans le code */
  